{% extends "base.html" %}
{%  load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

 {% image self.banner_image fill-900x400 as img %}
 <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center; color: #fff !important;">
  <h1 class="display-4">{{ self.banner_title }}!</h1>
  <div class="lead">{{ self.banner_subtitle|richtext }}</div>
     {% if self.banner_cta %}
        <a class="btn btn-primary btn-lg" href="#" role="button">@todo</a>
     {% endif %}
</div>

{% endblock content %}
